body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
}

#logo_deezer {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

main {
  width: 1020px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

h1 {
  margin: 0;
  font-weight: 900;
  font-size: 40px;
}

h2 {
  font-weight: 100;
  margin: 0;
}

h3 {
  font-weight: 500;
  margin: 0;
}

h4 {
  margin-bottom: 10px;
}

h5 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

#Capa_1 {
  margin-top: 10px;
  margin-right: 5px;
}

input::placeholder {
  font-family: "Outfit", sans-serif;
  color: #f0f0f0;
}

#logo > h1 {
  text-align: center;
  text-shadow: #f0f0f0 1px 1px;
  font-size: 80px;
}
#logo > h2 {
  text-align: center;
  color: #4a4a4a;
}
